/* MISC */

:root {
    --black-bg: rgb(0, 0, 0);
    --dark-gray-bg: rgb(231, 231, 231);
    --main-text: rgb(255, 255, 255);
    --important-buttons: #3577ff;
  }

* {
    box-sizing: border-box; /*ALWAYS USE THIS!!!!!!*/
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--main-text);
    text-decoration: none;
  }
  
  body {
    background-color: var(--black-bg);
    color: var(--main-text);
    font-family: "Poppins", sans-serif;
  }

  input {
    border-style: none;
    outline: none;
  }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.intro-box-header {
  margin-left: 300px;
  margin-top: 300px;
}

.intro-box-header h1 {
    font-size: 100px;
    font-weight: 300;
}

.intro-box-header p {
  font-size: 50px;
  font-weight: 400;
  margin-top: -12px;
}